<!-- your html code here -->
<div class="container-fluid">
    <div class="row justify-content-center align-items-start py-5">
        
        <!-- col que contiene el heading y paragraph -->
        <div class="col-6 mt-4">
            <div class="container d-flex">
                <h1 class="text-center">The First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
            </div>
            <p class="fs-5">Donec ullamcorper nulla non metus auctor fringila. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dabipus, tellus ac cursus commodo. 
            </p>
        </div>
        <!-- col que contiene la imagen -->
        <div class="col-3">
            <img class="w-100 rounded-circle" src="assets/img/1.jpg" alt="Heisenberg Portrait">
        </div>

    </div>
</div>