<!-- your html code here -->
<div class="container-fluid p-5 m-0 p-0" id="portfolio">
    <div class="row">
        <div class="col-12">
            <h1>Portfolio </h1>
            <p class="fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="card border-0">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-primary">Project Name</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              
            </div>
          </div>
        </div>


        <div class="col-sm-6 col-md-4">
          <div class="card border-0">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-primary">Project Name</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              
            </div>
          </div>
        </div>


        <div class="col-sm-6 col-md-4">
            <div class="card border-0">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title text-primary">Project Name</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                
              </div>
            </div>
          </div>
      </div>

    




</div>