<div class="row">
  <div class="col-sm-12 p-0">

    <div class="position-relative">
      <img src="assets/img/bg.jpg" alt="ciudad con rascacielos" class="img-fluid">
    </div>

    <div class="container-fluid text-center position-absolute top-50 start-50 translate-middle">
      <h1 class="display-1 fw-bold bg-light px-3">One Page Wonder</h1>
      <h2 class="display-3 fw-bolder bg-light px-3 mt-3">Will Knock Your Socks Off </h2>
    </div>


  </div>
</div>



<!-- <div class="row">
  <div class="col-md-12 p-0">
    <div class="position-relative pt-5">
      <div class="position-absolute w-100 pt-5 mt-5">
        <h1 class="display-1 fw-bolder bg-white w-100 mx-3 text-center">One Page Wonder</h1>
        <h2 class="display-5 fw-bold bg-white w-100 mx-3 text-center">Will Knock Your Socks Off </h2>

      </div>
      <img src="assets/img/bg.jpg" alt="ciudad con rascacielos" class="img-fluid w-100">
    </div>


  </div>
</div> -->